*{
    box-sizing: border-box;
}

body{
    background-color: #131720;
    font-family: sans-serif;
}

h3{
    color: white;
}

.topNav{
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topNav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topNav .searchContain{
    float: right;
}

form{
    background-color: #151f30;
    width: 300;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

.thumbnail{
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 310px;
    border-radius: 19px;
}

input{
    all: unset;
    font: 15px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
    color: white;
}

.column{
    float: left;
    width: 370px;
    padding: 10px;
}

.card{
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}